<html lang="en">
<head>
    <title>Document</title>
    <style>
        body{
            background-color: aqua
        }
        h2{
            text-align:center;color:burlywood;font-size:60px;
        }
    h1{
        text-align:center;color:burlywood;font-size: 40px;
    }
    </style>
</head>
<body>
    <h2>Hey there!!!</h2>
    <h1>You are visiting the profile of <%= your_name %></h1>
</body>
</html>
